#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
}
.header {
  grid-column: 2 / 2;
  grid-row: 1/ 1;
}
.list {
  grid-column: 2 / 2;
  grid-row: 3/ 3;
}
.search {
  grid-column: 2 / 2;
  grid-row: 2/ 2;
}
